[Unit]
Description=Initrd Euler Default Target
OnFailure=emergency.target
OnFailureIsolate=yes
After=systemd-vconsole-setup.service
AllowIsolate=yes

[Install]
Alias=default.target
